<% if flash.any? %>
	<% flash.each do |type, value| %>
		<div id='flash-msg' class="alert alert-<%= type == 'notice' ? 'success' : 'danger' %> mt-4 close-div">
			<%= value %>
		</div>
	<% end %>
<% end %>
<script type="text/javascript">
	$(document).ready(function(){
		$('#flash-msg').delay(3000).slideUp(300);
	});
</script>
