<div id="<%= dom_id post %>">
	<div class="card" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Poster: <%= post.poster %></h5>
			<h6 class="card-subtitle mb-2 text-muted">Tag: <%= post.tag %></h6>
			<p class="card-text">Content: <%= post.content %></p>
		</div>
	</div>
</div>
