<p style="color: green"><%= notice %></p>
<h1>Posts</h1>
<div id="posts">
	<% @posts.each do |post| %>
		<div>
			<div style="margin-left: 10px;">
				<%= render post %>
				<p style='margin-left: 10px'>
					<%= link_to "Show this post", post %>
				</p>
			</div>
		</div>
	<% end %>
</div>
<%= link_to "New post", new_post_path , class:"btn btn-primary"%>
