<div class="about-section">
  <h1>About Page</h1>
  <p>About page write with erb file Ruby</p>
</div>

<h2 style="text-align:center">Meo</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img id='dora' src="https://znews-photo.zadn.vn/w660/Uploaded/mdf_vsxrlu/2021_01_22/meo_3_2.jpg" alt="Meomeo">
      <div class="container">
        <h2>Meo meo</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>meomeo@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>